<section class="topbar">
    <div class="topbar-flex">
        <span class="wlc-heading">Welcomme to worldwide Istore!</span>
        <ul class="u-tb-info">
                <li>
                    <%= link_to root_path do %>
                    <i class="fa-solid fa-location-dot"></i>
                        <span>Deliver to <b>423651</b></span>
                        <% end %>
                </li>

                <li>
                    <%= link_to root_path do %>
                    <i class="fa-solid fa-truck"></i>
                        <span>Track your order</span>
                        <% end %>
                </li>

                <li>
                    <%= link_to root_path do %>
                    <i class="fa-solid fa-gift" aria-hidden="true"></i>
                        <span>All Offers</span>
                        <% end %>
                </li>
            </ul>
    </div>
</section>