<div class="c-table-box">
    <table>
        <thead>
            <th>Product</th>
            <th>Amount</th>
            <th>Size</th>
            <th>View</th>
        </thead>

        <% obj.each do |stock| %>
            <tbody>
            
                <td class="c-name">
                    <%= truncate(stock.product.name,length:30) %>
                </td>
                <td class="c-dp">
                    <%= stock.amount %>
                </td>
                <td>
                    <%= stock.size %>
                </td>
            
                <td class="c-sm">
                    <button>
                        <%= link_to "See more" ,[:admin, stock.product, stock] %>
                    </button>
                </td>
            </tbody>
            <% end %>
    </table>
</div>