<div id="<%= dom_id stock %>">
  <p>
    <strong>Product:</strong>
    <%= stock.product_id %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= stock.amount %>
  </p>

  <p>
    <strong>Size:</strong>
    <%= stock.size %>
  </p>

</div>
