<p style="color: green"><%= notice %></p>

<h1>Stocks</h1>

<div id="admin_stocks">
  <% @admin_stocks.each do |admin_stock| %>
    <%= render admin_stock %>
    <p>
      <%= link_to "Show this stock", [:admin,admin_stock] %>
    </p>
  <% end %>
</div>

<%= link_to "New stock", new_admin_stock_path %>
