<div>
    <h1>Cart page</h1>
    <div id="errorContainer"></div>
    <div data-controller="cart">
    <div id="total">
    
    </div>
    <button data-action="click->cart#checkout">Checkout</button>
    <button data-action="click->cart#clear">Clear</button>
    </div>
    </div>