<h1>Editing category</h1>

<%= render "form", admin_category: @admin_category %>

<br>

<div>
  <%= link_to "Show this category", [:admin,@admin_category] %> |
  <%= link_to "Back to categories", admin_categories_path %>
</div>
