<p style="color: green"><%= notice %></p>

<h1>Categories</h1>

<div id="admin_categories">
  <% @admin_categories.each do |admin_category| %>
    <%= render admin_category %>
    <p>
      <%= link_to "Show this category", [:admin,admin_category] %>
    </p>
  <% end %>
</div>

<%= link_to "New category", new_admin_category_path %>
