<p style="color: green">
  <%= notice %>
</p>

<% if @admin_categories.empty? %>
  <p class="text-center">No category yet.</p>
  <% else %>
    <%= render "shared/categories" , obj:@admin_categories %>
      <% end %>