<p style="color: green">
  <%= notice %>
</p>



<%= render @admin_category %>

  <div class="c-actions-flex">
    <%= link_to edit_admin_category_path(@admin_category), class:"btn btn-success" do %>
      <span>Edit</span>
      <i class="fa-solid fa-pen-to-square"></i>
      <% end %>

        <%= link_to [:admin, @admin_category], data:{turbo_method: :delete, turbo_confirm:"Are you sure?"}, class:"btn
          btn-danger" do %>
          <span>Delete</span>
          <i class="fa fa-trash" aria-hidden="true"></i>
          <% end %>
  </div>