<p style="color: green">
  <%= notice %>
</p>
<section class="crud">
  <div class="c-top">
    <h2>Products</h2>
    <button type="button">
      <%= link_to "New product" , new_admin_product_path %>
    </button>
  </div>
  <section class="crud">
    <% if @admin_products.empty? %>
      <p class="text-center">No product yet.</p>
      <% else %>
        <%= render "shared/products" , obj:@admin_products %>
          <% end %>
  </section>

</section>