.crud {}

.crud .c-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.crud .c-top h2 {
    font-size: 1.8rem;
    font-weight: 400;
}

.crud .c-top button {
    padding: .7rem 1rem;
    background: var(--primary-color);
    border-radius: .2rem;
}

.crud .c-top button a {
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--navbar-color);
}

.crud .c-table-box {
    margin: 3rem 0;

}

.crud .c-table-box table {
    margin: 2rem 0;
    width: 100%;
    text-align: left;
}

table tr {
    position: relative;
}

table tr::after {
    content: '';
    width: 100%;
    height: 1px;
    background: var(--text-color);
    position: absolute;
    bottom: 0;
    left: 0;
}



table th {
    margin: .2rem 0;
    font-size: 1rem;
    font-weight: 500;
    color: var(--minor-color);
}

table td {
    font-size: .9rem;
    text-align: left;
    padding: .5rem 0;
    font-weight: 500;
    color: var(--text-color);
}

.crud td.c-name {
    font-weight: 600;
}

.crud td.c-dp {
    width: 40%;
}

.crud td.c-sm button {
    padding: .2rem;
    border-radius: .2rem;
    border: 1px solid var(--primary-color);
}

.crud td.c-sm button a {
    font-weight: 600;
    color: var(--primary-color);
}

.crud table thead {
    text-align: left;
}

.crud table tbody {
    text-align: left;
}

table .crud-image-box {
    width: 4rem;
    height: 4rem;
}

table .crud-image {
    width: 100%;
    height: 100%;
}

/* category creation page */

.new-crud-box {
    margin: 2rem 0;
}

.crud-form {
    padding: 1rem;
    width: 55%;
    margin: auto;
    display: flex;
    flex-direction: column;
    gap: 1rem;
}

.name-and-img-flex {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.name-and-img-flex input {
    padding: .8rem;
    width: 70%;
    border: 1px solid var(--primary-color);
    border-radius: .4rem;
}

.name-and-img-flex .fa-camera {
    font-size: 1.7rem;
    cursor: pointer;
}


.image-upload>input {
    display: none;
}

.crud-form textarea {
    padding: .4rem;
    border: 1px solid var(--primary-color);
    min-width: 100%;
    max-width: 100%;
    min-height: 10rem;
    max-height: 10rem;
    border-radius: .4rem;
}

.crud-form .c-btn input {
    font-size: 1.1rem;
    font-weight: 600;
    padding: .5rem;
    background: var(--primary-color);
    color: var(--navbar-color);
    border-radius: .3rem;
    cursor: pointer;
}

/* The show page */

.c-details{
    margin: 1rem 0;
}

.c-details-tn{
    width: 100%;
    height: 22rem;
}

.c-details-tn img{
    width: 100%;
    height: 100%;
}


.c-details P{
    margin: .5rem 0;
    font-size: 1.1rem;
    color: var(--text-color);
}


.c-actions-flex{
    margin: 1rem 0;
    display: flex;
    justify-content: space-between;
}

.category-products h3{
    font-weight: 300 ;
    color: var(--minor-color);
    position: relative;
}

.category-products h3::after{
    content: '';
    width: 100%;
    height: 1px;
    background: var(--text-color);
    position: absolute;
    bottom: 0;
    left: 0;
}
/* product new page additional styling */

.price-active{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.price-active label{
    color: var(--text-color);
    font-weight: 600;
}

.price-active input,.c-input select{
    padding: .4rem;
    border: 1px solid var(--primary-color);
    border-radius: .4rem;
    
}

.price-active .active-box{
    display: flex;
    gap: .4rem;
}

.c-input{
    display: flex;
    gap: 1rem;
    align-items: center;
    color: var(--text-color);
    font-weight: 600;
}

/* Product show page */

.pd-tns-flex{
display: flex;
gap: .5rem;
overflow: auto;
}

.crud .pd h2{
    width: 90%;
}


.pd-tn img{
    width: 100%;
    height: 100%;
}
.price-category{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-sec{
    color: #fff;
}
.pd-box{
    font-size: 1rem !important;
    padding: .7rem;
    background:var(--navbar-color) ;
    color: #000 !important;
    border-radius: .4rem;
}

/* Stock */

.crud-form .stock-input input{
    padding: .8rem;
    width: 70%;
    border: 1px solid var(--primary-color);
    border-radius: .4rem;
}
@media screen and (max-width: 768px) {
    .crud-form {
        width: 100%;
    }

    
.crud-form .stock-input input{
    width: 100%;
}

}