/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS (and SCSS, if configured) file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans:wght@200;300;400;500;600;700;800&display=swap');
 
 
 :root {
    --body-color: #ebeff9;
    --navbar-color: #fff;
    --primary-color: #5c4dfe;
    --primary-light-color: #f6f5ff;
    --minor-color: #262626;
    --text-color: #666666;
      --border-clr: #EBECF2;
    --trans-1: .1s;
    --trans-2: .2s;
    --trans-3: .3s;
    --trans-4: .4s;
    --trans-5: .5s;
    --trans-6: .6s;

   //  user

   --c-primary-clr:#FFFFFF;
   --c-secondary-clr:#008ECC;
   --c-secondary-clr-light:#F3F9FB;
   --c-blur-bg:#F5F5F5;
   --c-dark-1:#222222;
   --c-dark-2:#666666;
   --c-dark-3:#888888;
   --c-border-clr:#D9D9D9;
 }


 
 
 * {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
 }
 
 a {
    text-decoration: none !important;
 }
 
 li {
    list-style: none !important;
 }
 
 button{
   border: none;
   outline: none;
 }

 input,textarea,select{
   border: none;
   outline: none;
 }
 main {
    flex: 1;
    padding: 10px;
    /* Add padding as needed */
 }
 
 body {
    margin: 0;
    padding: 0;
    background: var(--body-color);
    display: flex;
    font-family: 'Plus Jakarta Sans', sans-serif;
 
 }
 
 
 
 
 .page {
   padding: 1.7rem 0rem 0 15rem;
   width: 90%;
   margin: auto !important;
   background: var(--body-color);
 }


//  Categories styling




// user

.user-main {
   width: 100%;
   background: var(--c-primary-clr);
   min-height: 100vh !important;
   
}

.user-container {
   width: 90%;
   background: var(--c-primary-clr);
   height: 100%;
   margin: auto !important;
}
.user-flex{
   width: 100%;
   display: flex;
   flex-direction: column;
}

.topbar{
   padding: 0 1rem;
   width: 100%;
   height: 2.6rem;
   background: var(--c-blur-bg);
   margin: auto !important;
}


.topbar-flex{
   width: 90%;
   height: 100%;
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin: auto;
}

.topbar-flex .wlc-heading{
   font-size: 1.02rem;
   color: var(--c-dark-2);
}

.u-tb-info{
   margin: .2rem 0;
   display: flex;
   align-items: center;
   gap: 1rem;

}


.u-tb-info li{
   padding-right: .3rem;
   position: relative;
}

.u-tb-info li:not(:last-child)::after {
   content: '';
   width: 2px;
   height: 60%;
   background: var(--c-border-clr);
   position: absolute;
   top: 18%;
   right: 0;
}

.u-tb-info li a{
   font-size: .92rem;
   display: flex;
   align-items: center;
   gap: .4rem;

}

.u-tb-info li a .fa{
   color: var(--c-primary-clr);
}
.u-tb-info li a span{
   color: var(--c-dark-2);
}


// navbar

.u-navbar{
   margin: 1rem 0;
 
}
.u-navbar-flex{
   display: flex;
   justify-content: space-between;
   align-items: center;
  
}


.navbar-logo-box{
   display: flex;
   align-items: center;
   gap: .4rem;
}

.navbar-logo-box .fa{
   padding: .2rem;
   font-size: 1.3rem;
   color: var(--c-secondary-clr);
   background: var(--c-secondary-clr-light);
   border-radius: .3rem;
}

.navbar-logo-box .logo-text{
   font-size: 1.6rem;
   font-weight: 700;
   color: var(--c-secondary-clr);
}

.search-box{
   width: auto;
   padding: .5rem 1rem;
   background: var(--c-secondary-clr-light);
   border-radius: .3rem;
}

.search-box-flex{
   display: flex;
   align-items: center;
   gap: 1rem;
}
.search-box-flex .fa{
   font-size: 1.1rem;
   color: var(--c-secondary-clr);
}

.search-box-flex input{
   padding: .5rem;
   font-size: 1rem;
   color: var(--c-dark-2);
   background: var(--c-secondary-clr-light);
}


.u-navbar-links{
   display: flex;
   align-items: center;
   gap: 1rem;
}



.u-navbar-links a{
   font-size: 1rem;
}

.u-navbar-links .fa{
   color: var(--c-secondary-clr);
}

.u-navbar-links b{
   font-weight: 600;
   color: var(--c-dark-1);
}



// categor dragging


    .categories-container{
        margin: 3rem;
        width: 100%;
        height: fit-content;
        display: flex;
        align-items: center;
        overflow-x: hidden;
        margin: auto;
        position: relative;
        border-bottom: 1px solid var(--c-border-clr);
        cursor: grabbing;
    }
   

.category-box{
   font-size: .89rem;
   font-weight: 500;
    text-align: center;
    padding: .5rem 1rem;
    min-width: fit-content;
    background-color: var(--c-secondary-clr-light);
    display: flex;
    justify-content: center;
    align-items: center;   
    margin: 5px;
    cursor: grab;
    border-radius: 1.1rem;
}

.category-box a{
   color: var(--c-dark-1);
}

.category-box:first-child{
   background: var(--c-secondary-clr);
}

.category-box:first-child a{
  color: var(--c-primary-clr);
}

.category-box:hover {
background: var(--c-secondary-clr);
}


.category-box:hover a{
   color: var(--c-primary-clr);
   }



//Top categories dragging


.top-categories-flex{
   margin: 3rem;
   width: 100%;
   height: fit-content;
   display: flex;
   align-items: center;
   gap:2rem;
   overflow-x: hidden;
   margin: auto;
   cursor: grabbing;
   
}

.tc-box{
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: .2rem;
   cursor: grab;
}

.tc-img-box{
   width: 4rem;
   height: 4rem;
   border-radius: 50%;
   overflow: hidden;
   background: var(--c-blur-bg);
}

.tc-img-box:hover{
border: 2px solid var(--primary-color);
}

.tc-img-box img{
   width: 100%;
   height: 100%;
}

.tc-box button{
   color: var(--c-dark-1);
   font-size: .9rem;
   background: none;
}





// products styling

.top-products-con{
   width: 100%;
   margin: auto;
}

.top-products-flex{
   display: grid;
   grid-template-columns: repeat(6,1fr);
   gap: 2rem;
}

.tp-top-h{
   margin:.7rem 0;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.tp-top-h h3{
   font-size: 1.1rem;
   font-weight: 500;
   color: var(--c-dark-1);
}
.tp-top-h h3 span{
   color: var(--c-secondary-clr);
}

.tp-top-h a span{
   font-size: 1rem;
   color: var(--c-dark-1);
}

.tp-top-h a i{
   font-size: .8rem;
   color: var(--c-secondary-clr);
}
.p-box{
   display: flex;
   flex-direction: column;
   border: 1px solid var(--c-border-clr);
   border-radius:.4rem;
}
.p-image-box{
   width: 11rem;
   height: 11rem;
   background: var(--c-blur-bg);
}


.p-image-box img{
width: 100%;
height: 100%;
}

.p-content{ 
   padding: .7rem;
}

.p-name{
   font-size: 1.02rem;
   color: var(--c-dark-1);
}

.p-price{
   font-size: 1.02rem;
   font-weight: 600;
   color: var(--c-dark-1);
}

.p-price-flex{
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.p-old-price,.save-price{
   font-size: .85rem;
   font-weight: 500;
   color: var(--c-dark-2);
}

.save-price{
   color: rgb(4, 150, 109);
   position: relative;
}

.save-price::before{
   content: '';
   min-width: 10rem;
   height: 2px;
   background: var(--c-blur-bg);
   position: absolute;
   top: -05;
   left: 0;
}


@media screen and (max-width: 868px) {
     // products
  

     .top-products-flex{
      grid-template-columns: repeat(3,1fr);
   }

   .p-image-box{
      width: 100%;
   }

}
@media screen and (max-width: 768px) {
   .topbar{
      height: auto;
   }
   .topbar-flex{
      flex-direction: column;
   }


   .u-navbar-flex{
      width: 100%;
      flex-direction: column-reverse;
     
   }

   .navbar-logo-box{
      display: none;
   }



   // products
  

   .top-products-flex{
      grid-template-columns: repeat(2,1fr);
      gap: 1rem;
   }

   .p-image-box{
      width: 100%;
   }

   
   
}


// n sth found

.nf{
   margin: auto;
   padding: .5rem;
   width: fit-content;
   background: var(--c-blur-bg);
}


@media screen and (max-width: 500px) {

   .top-products-flex{
      grid-template-columns: repeat(2,1fr);
   }
}

@media screen and (max-width: 300px) {

   .top-products-flex{
      grid-template-columns: 1fr;
   }
}



// product show


.product-page{
   background: var(--c-blur-bg);
   width: 100%;
   height: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
   gap: 2rem;
}

.product-page-top{
   width: 95%;
   margin-top:2rem ;
   padding: 1rem;
   display: flex;
   align-items: center;
   gap: 2rem;
   background: var(--c-primary-clr);
}

.product-pt-left{
   width: 45%;
}

.ppl-images-flex{
   display: flex;
   flex-direction: column;
   gap: 1rem;
}

.ppl-main-img-box{
   width: 24rem;
   height: 20rem;
   border: 1px solid var(--c-border-clr);
   background: var(--c-primary-clr);
}

.ppl-main-img-box img{
   width: 100%;
   height: 100%;
}

.ppl-small-images{
   display: flex;
   align-items: center;
   gap: .5rem;
}

.ppl-small-img{
   width: 3rem;
   height: 3rem;
   border: 1px solid var(--c-border-clr);
}

.ppl-small-img img{
   width: 100%;
   height: 100%;
}

.product-pt-right{
   height: 100%;
}


.pptr-flex{
   display: flex;
   flex-direction: column;
   gap: .5rem;
}

.pptr-flex .product-name{
   font-size: 1.6rem;
   color: var(--c-dark-1);
   font-weight: 600;
}

.pptr-flex .product-price{
   display: flex;
   align-items: center;
   gap: 3rem;
}

.pptr-flex .product-price h3{
   font-size: 1.3rem;
   color: var(--c-dark-1);
   font-weight: 600;
}

.stocks-available{
   margin: 1rem 0;
   display: flex;
   align-items: center;
   gap: .5rem;
}

.stocks-available .stock-selector{
   padding: .4rem;
   border-radius: .2rem;
}

.stocks-available .stock-selector:hover{
   background: var(--c-secondary-clr);
   color: var(--c-primary-clr);
}

.stocks-available .stock-selector.disabled:hover{
   background: rgba(255, 0, 0, 0.066);
   color: var(--c-dark-1);
}

.stock-selected{
   display: flex;
   align-items: center;
   gap: .5rem;
}

.stock-selected .stock-selected-btn{
   padding: 0;
   border-radius: .2rem;
   background: var(--c-secondary-clr);
   color: var(--c-primary-clr);
   opacity: .8;
}

.add-to-cart{
   margin-top: 2rem;
   width: 20rem;
   padding: .7rem;
   border-radius: .2rem;
   background: var(--c-secondary-clr);
   color: var(--c-primary-clr);
   font-weight: 600;
}

.product-page-btm{
   width: 95%;
   padding: 2rem;
   background: var(--c-primary-clr);
}

.product-page-btm p{
   font-size: 1.1rem;
   color: var(--c-dark-2);
}
@media screen and (max-width: 768px) {
   
   
   .product-page{
      background: var(--c-primary-clr);
   }

.product-page-top{
   width: 100%;
   flex-direction: column;
   
}

.product-pt-left{
   width: 100%;
}


.ppl-main-img-box{
   width: 100%;
}


.product-pt-right{
   width: 100%;
}




.pptr-flex .product-name{
   font-size: 1.4rem;
}


.pptr-flex .product-price h3{
   font-size: 1.2rem;

}

.product-page-btm{
   width: 98%;
   padding: 1rem;
   background: var(--c-border-clr);
}

.product-page-btm p{
   font-size: 1rem;
}

}



@media screen and (max-width: 300px) {
   .ppl-main-img-box{
      width: 16rem;
      height: 16rem;
   }
   

   .add-to-cart{
      width: 100%;
   }
}